<div class="p-5 text-center bg-light jumbotron">
  <h1 class="logo">See Food</h1>
  <h3 class="text-white mt-4">Food that you See.</h3>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <mat-card>
        <img
          height="240px"
          src="../../assets/images/card-1.jpg"
          mat-card-image
        />
        <mat-card-content>
          <mat-card-title>Order Online</mat-card-title>
          <mat-card-subtitle>
            <p>Stay home and order to your doorstep</p>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <img
          height="240px"
          src="../../assets/images/card-2.jpg"
          mat-card-image
        />
        <mat-card-content>
          <mat-card-title>Dining</mat-card-title>
          <mat-card-subtitle>
            <p>view the city's favourite dining venues</p>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <img
          height="240px"
          src="../../assets/images/card-3.jpg"
          mat-card-image
        />
        <mat-card-content>
          <mat-card-title>Nightlife and Clubs</mat-card-title>
          <mat-card-subtitle>
            <p>view the city's favourite dining venues</p>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row my-5"></div>
</div>
