<h2 mat-dialog-title class="text-center">{{ orderService.product.name }}</h2>
<form (ngSubmit)="addToCartItem()">
  <div class="row my-3">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" (click)="addQuantity()">
        <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
      </button>
      <button type="button" class="btn btn-outline-primary">
        {{ quantity }}
      </button>
      <button type="button" class="btn btn-primary" (click)="removeQuantity()">
        <mat-icon aria-hidden="false" fontIcon="remove"></mat-icon>
      </button>
    </div>
  </div>
  <div class="row my-2">
    <mat-form-field>
      <mat-label appearance="fill" class="col-12">Price</mat-label>
      <input
        matInput
        type="text"
        class="text-black fw-bold"
        required
        value="{{ orderService.product.price * quantity }}/- INR."
        name="name"
        disabled
      />
    </mat-form-field>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" type="submit">Add to Cart</button>
    <button mat-dialog-close mat-button>Close</button>
  </div>
</form>
