.text-main {
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
}

/* .jumbotron {
  margin-top: 0px !important;
  background: url("../../assets/images/jumbotron-bg.jpg");
  min-height: 100vh;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(20, 19, 19, 0.6);
} */
